*{
    margin: 0;
    padding: 0;
}
.amarelo{
    color: FCC547;
}
.azul a{
    color: 638AE7;
}
.verde a{
    color: 64E66A;
}
.rosa a{
    color: E66399;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    color: #fff;
    font-weight: bolder;
}
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlist li {
    display: inline-block;
    margin-right: 10px;
}

.navlist li:last-child {
    margin-right: 0;
}

.navlist a {
    text-decoration: none;
}

.cadastro-button {
    background-color: #FCC547;
    color: #eeeded;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}



/*Estilos para o meio*/
.loja{
    width: 100%;
    height: 80vh;
}
.game{
    display: flex;
    flex-direction: row;
}
.game img{
    padding: 20px;
    width: 20%;
}
.content {
    display: flex;
    overflow-x: auto;
  } 
  .slide {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .slide img {
    width: 100%;
    height: 50vh;
    border-radius: 5px;
  }
  
  .descricao {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }
  
  .gameplay {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gameplay img {
    width: 48%; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*Página de Titulos*/
.consoles {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}
.consoles img{
    width: 250px;
    margin: 10px;
}


/* Estilos para o rodapé */
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    color: #363636;
}

.logo-rodape img {
    width: 150px;
}

.fale-conosco {
    text-align: right;
}

.info-contato {
    margin-top: 10px;
}

.telefone, .email {
    display: flex;
    align-items: center;
}

.telefone img, .email img {
    margin-right: 10px;
    width: 20px;
}
.logo{
    width: 20%;
}
.imagem{
    width: 60%;
}
.caixa{
    background-color: #f2f2f2;
    padding-bottom: 200px;
    border-radius: 20px;
}
.pequenalogo{
    width: 70%;
}